<!DOCTYPE html>
<html layout:decorate="~{baseregister}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- <div class="row mb-2" layout:fragment="content-header"> -->
<!--     <div class="col-sm-6"> -->
<!--         <h1 class="m-0 text-dark">Login Page</h1> -->
<!--     </div> -->
<!--     <div class="col-sm-6"> -->
<!--         <ol class="breadcrumb float-sm-right"> -->
<!--             <li class="breadcrumb-item"><a href="#">Data</a></li> -->
<!--             <li class="breadcrumb-item active">Manage</li> -->
<!--         </ol> -->
<!--     </div> -->
<!-- </div> -->

<div class="row" layout:fragment="content-body">

	
<!--     <div class="col-12"> -->
<!--         <div class="card" style="background-color:pink;"> -->
<!--             <div class="card-header"> -->
<!--                 <h3 class="card-title">Welcome to Toko Anda! Please click the green button below to log in or the blue button if you want to register as a user.</h3> -->
<!--             </div> -->
            <!-- /.card-header -->
            <div class="card-body login-card-body" style="width: 100%;">
            <p class="login-box-msg">Register as an administrator</p>
            <form id="form-biodata" role="form">
                        <input name="id" type="hidden"/>
                        <div class="row">
                        	<div class="col-md-6">
                        			<div class="form-group">
										<label for="fullname">Nama Lengkap<font color="red"> *</font>
										</label> <input required type="text"
											class="form-control" id="fname" name="namaLengkap"
											placeholder="Nama lengkap">
									</div>
									<div class="form-group">
										<label for="birthdate">Tanggal Lahir<font color="red"> *</font></label> <input required type="date"
											class="form-control" id="bdate" name="tglLahir"
											placeholder="Tanggal lahir">
									</div>
									<div class="form-group">
										<label for="address">Alamat<font color="red"> *</font></label> <input required type="text"
											class="form-control" id="address" name="alamat"
											placeholder="Alamat">
									</div>
									<div class="form-group">
										<label>Kota/Kabupaten<font color="red"> *</font></label><br>
										<select class="form-control" style="width: 100%;" id="mySelect" name="kotaLokasi"></select>
									</div>
									<div class="form-group">
										<label for="email">Email<font color="red"> *</font></label> <input required type="text"
											class="form-control" id="email" name="email"
											placeholder="Email">
									</div>
									</div>
							<div class="col-md-6">
									<div class="form-group">
										<label for="nomorhp">Nomor HP<font color="red"> *</font></label> <input required type="text"
											class="form-control" id="nomorhp" name="noHandphone"
											placeholder="Nomor HP">
									</div>
									<div class="form-group">
											<label>Role User<font color="red"> *</font></label><br>
											<select class="custom-select" style="width: 100%;" id="roleus" name="idRole"> 
<!-- 												<option></option> -->
											</select>
									</div>
									<div class="form-group">
											<label>Cabang<font color="red"> *</font></label><br>
											<select class="custom-select" style="width: 100%;" id="cabang" name="idCabang"> 
<!-- 												<option selected value="base">--Plih Cabang--</option> -->
											</select>
									</div>
									<div class="form-group">
										<label for="username">Username<font color="red"> *</font></label> <input required type="text"
											class="form-control" id="username" name="username"
											placeholder="Username">
									</div>
									<div class="form-group">
										<label for="password">Password<font color="red"> *</font></label> <input required type="password"
											class="form-control" id="password" name="password"
											placeholder="Password">
									<div class="row" style="float: right;">
                        				<div class="col-md-12">
											<input type="checkbox" onclick="myFunction()">Show Password
										</div>
									</div>	
									</div>
									</div>
									</div>
			
             </form>
             
				<br><div class="row">
					<div class="col-12">
				        <button class="float-right btn btn-success" style="width: 100%;" id="btn-register-biodata">REGISTER</button>
					</div>
				</div>

<!-- 				<div class="row"> -->
<!-- 					<div class="col-12"> -->
<!-- 				         <button class="float-left btn btn-primary" style="width: 100%;"id="btn-register-biodata"><i class="fas fa-plus"></i>&nbsp;&nbsp;REGISTER</button> -->
<!-- 					</div> -->
<!-- 				</div> -->
				
<!-- 				<p class="mb-0"> -->
<!-- 			       <a href="/register/user" class="text-center">Don't have an account? Register here.</a> -->
<!-- 			    </p> -->
	
	            </div>
            <!-- /.card-body -->
<!--         </div> -->
        <!-- /.card -->
<!--     </div> -->
    <!-- /.col -->
    
<!--     <p id ="demo"></p> -->
    
</div>
    

<th:block layout:fragment="add-scripts">
    <script th:src="@{/assets/dist/js/register2.js}"></script>    
    

    <script>
	    var userAndRole = []
		var branchAccess = []
	    var contactBiodata = []
    
	    $('#btn-register-biodata').click(function () {
	        formBiodata.saveForm()
	        userAndRole = []
			branchAccess = []
    	    contactBiodata = []
	    })
    
//         $('#btn-login').click(function () {
//             formLogin.saveLogin()
//         })
        
//         $('#btn-register-biodata').click(function () {
//         	window.location.replace("http://localhost:1212/register/user");
//         })
        
        function myFunction() {
		  var x = document.getElementById("password");
		  if (x.type === "password") {
		    x.type = "text";
		  } else {
		    x.type = "password";
		  }
		}
        

    </script>
</th:block>

</html>